<h1>All Courses</h1>
<%= link_to "Create new Courses", new_course_path %>
<table>
  <tr>
    <th>Course ID</th>
    <th>Course Number</th>
    <th>Course Title</th>
    <th>Course Credit</th>
    <th>Semester ID</th>
    <th>Functionality</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td>[<%= course.id %>]</td>
      <td><%= course.number %></td>
      <td><%= course.title %></td>
      <td><%= course.credit %></td>
      <td><%= course.semester_id %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
      <td><%= link_to 'Delete', course_path(course), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
